.main
{
    width: 1225px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.page
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}